body{
    background-color: lightblue;
  }
  
h1{
    background-color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
  }
  
p {
    font-family: verdana;
    font-size: 20px;
  }